<div class="container mt-5">
  <h2>Your Expenses</h2>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="Submitted Expenses" >
        <div class="container">
          <app-submitted-state></app-submitted-state>
        </div>
      </tab>
      <tab heading="Approved Expenses" >
      <app-approved-state></app-approved-state>
      </tab>
      <tab heading="Rejected Expenses">
        <app-rejected-state></app-rejected-state>
        </tab>
    </tabset>
  </div>
</div>