<table class="table table-hover" id="customers">
  <tr>
    <th>Expense Type</th>
    <th>Amount</th>
    <th>Incurred Date</th>
    <th>Submitted Date</th>
  </tr>
<tr *ngFor="let item of expenseService.list">
<td *ngIf="item.status.startsWith('R')"  (click)=(updateRecord(item)) >{{item.type}}</td>  
<td *ngIf="item.status.startsWith('R')" (click)=(updateRecord(item))>{{item.amount}}</td>  
<td *ngIf="item.status.startsWith('R')" (click)=(updateRecord(item))>{{item.incurredDate}}</td>  
<td *ngIf="item.status.startsWith('R')"  (click)=(updateRecord(item))>{{item.submittedDate}}</td>  

</tr>
</table>